
body{
    background: #90ff90;
    overflow: hidden;  /* Oculta las barras de desplazamiento */
    margin: 0; /* Elimina el margen predeterminado */
    user-select: none;

}

#Mundo {
    width: 2500px;
    height: 2500px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #90ff90;
    /* Fondo verde claro para el mundo */

    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
    user-select: none;

}
#coordenadas {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: auto;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.textoFlotante {
    font-size: 15px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    /* borde negro */
    opacity: 1;
    animation: flotar 2s ease-out forwards;
    z-index: 4;
    user-select: none;
    pointer-events: none;
}
.textoFlotanteCritico {
    font-size: 15px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    /* borde negro */
    opacity: 1;
    animation: flotarCritico 2s linear forwards;
    z-index: 4;
    user-select: none;
    pointer-events: none;
}

.Zonatex {
    position: absolute;
    display: grid;
    pointer-events: none;
    width: 300px;

}
@keyframes flotar {
    0% {
        transform: scale(0) ;
    }

    20%{
        transform: scale(1.4);

    }   
    30%{
        transform: scale(1.2);

    }
    80%{
        transform: scale(0.7);
    }
    100% {

        transform: scale(0);
    }
}
@keyframes flotarCritico {
    0% {
        transform: scale(0) rotate(-20deg);
        text-shadow: -1px -1px 0 #3cff5d, 1px -1px 0 #3cff5d, -1px 1px 0 #3cff5d, 1px 1px 0 #3cff5d;

    }
    20% {
        transform: scale(1.4) rotate(20deg);
        text-shadow: -1px -1px 0 #9900b8, 1px -1px 0 #9900b8, -1px 1px 0 #9900b8, 1px 1px 0 #9900b8     ;

    }
    30% {
        transform: scale(1.2) rotate(-20deg);
        text-shadow: -1px -1px 0 #3cff5d, 1px -1px 0 #3cff5d, -1px 1px 0 #3cff5d, 1px 1px 0 #3cff5d;


    }
    80% {
        transform: scale(0.7) rotate(20eg);
        text-shadow: -1px -1px 0 #9900b8, 1px -1px 0 #9900b8, -1px 1px 0 #9900b8, 1px 1px 0 #9900b8;

    }
    100% {
        transform: scale(0) rotate(-20deg);
        text-shadow: -1px -1px 0 #3cff5d, 1px -1px 0 #3cff5d, -1px 1px 0 #3cff5d, 1px 1px 0 #3cff5d;


    }
}


    .Base{
        font-size: 50px;
    }
    .colmena{
        position: absolute;
        left: 700px;
        top: 900px;
    }
    .mochila{
        position: absolute;
        left: 1050px;
        top: 900px;
    }


.abejas{
    user-select: none;
    pointer-events: none;

}
.Filla {
    position: absolute;
    font-size: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50%; /* Asegura que el área sea circular */
    transition: transform 0.3s ease;

}
.Filla .icon {
    position: relative;
    font-size: 20px;
    top: -37px;
    left: 13px;
}
@keyframes parpadeo {
    0%, 50%, 80%, 100% {
        opacity: 1;
    }
    25%, 70%, 90%{
        opacity: 0.3;
    }
}

.Filla.parpadeo {
    animation: parpadeo 3s ease-in-out;
}