.Campo {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    left: 650px;
    top: 250px;
}
.flores {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    transform: scale(1);
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: font-size 0.3s ease, transform 0.3s ease;

    border-radius: 10px;
}
.flores:hover, .Filla:hover {
    transform: scale(1.2) rotate(-10deg);
}



