.Hub {
  position: fixed;
  left: 34%;
  top: 1%;
  display: flex;
  flex-direction: row;
  /* Cambia a fila */
  align-items: center;
  /* Alinea verticalmente */
  gap: 20px;
  /* Espaciado entre los elementos */
  width: auto;
  /* Ajusta el ancho según el contenido */
}

.Polen,
.Miel {
  position: relative;
  width: 200px;
  height: 30px;
  background-color: #00000065;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;

}

.relleno {
  height: 100%;
  width: 0%;
  /* Ajusta esto dinámicamente */
  background-color: #41c73d;
  transition: width 0.3s ease-in-out;
  border-radius: 25px;
}

.texpolen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  pointer-events: none;
}

.Miel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;

  font-size: 14px;
  color: #deff67;
}

.ButonCover {
  position: relative;
  width: 100px;
  height: 30px;
  background-color: #fdff8f;
  border-radius: 15px;
  overflow: hidden;
}

.texButonCover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  pointer-events: none;
}


.barraRecarga {
  position: absolute;
  width: 10px;
  /* Longitud de la barra */
  height: 50px;
  /* Altura de la barra */
  background-color: #cccccc00;
  /* Fondo gris */

}

.porcentajeRecarga {
  width: 100%;
  /* Inicia vacía */
  height: 0%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46);


}

.Secion {
  position: fixed;
  width: 100vw;
  /* Ancho completo de la pantalla */
  height: 100vh;
  /* Altura completa de la pantalla */
  background-color: #000000ab;
  /* Fondo semitransparente */
  z-index: 10;
  /* Aparece encima de otros elementos */
  top: 0;
  /* Asegura que el div comience desde la parte superior */
  left: 0;
  /* Asegura que el div comience desde la izquierda */
  font-family: Arial, sans-serif;
  color: white;


}

.Secion .Titulo {

  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: white;

}

/* Contenedor principal */
.inventario-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

/* Sección de ítems */
.inventario-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;

  padding: 10px;
  border-radius: 8px;

  overflow-y: auto;
  max-height: 400px;
  /* Ajusta la altura máxima */

  /* Scrollbar oculto (opcional: si no quieres diseño visible) */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #000000 #f1f1f100;
  /* Color de barra y fondo */
}

/* Personalización del scrollbar para navegadores basados en WebKit (Chrome, Edge, Safari) */
.inventario-items::-webkit-scrollbar {
  width: 8px;
  /* Ancho de la barra */
  height: 8px;
  /* Altura para scroll horizontal, si es necesario */
}

.inventario-items::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Fondo del track */
  border-radius: 8px;
  /* Bordes redondeados */
}

.inventario-items::-webkit-scrollbar-thumb {
  background: #888;
  /* Color del scrollbar */
  border-radius: 8px;
  /* Bordes redondeados */
}

.inventario-items::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Cambio de color al pasar el cursor */
}


.item {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.item:hover {
  transform: scale(1.1);

}

.item-icon {
  font-size: 32px;
}

.item-cantidad {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;



  border-radius: 4px;
  padding: 2px 4px;
}

.item .Nombre {
  white-space: nowrap;
}

.item-Nivel {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  background-color: rgb(101, 101, 243);


  border-radius: 50px;
  padding: 2px 4px;
}

/* Sección de información detallada */
.informacion-item {
  width: 40%;
  padding: 10px;

  border-radius: 8px;

}

.item-detalle-icon {
  font-size: 64px;
  text-align: center;
  margin-bottom: 10px;
}

.item-detalle-Nombre {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.item-detalle-descripcion,
.item-detalle-cantidad,
.item-detalle-uso {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;


}

.abeja-detalle-Nombre {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;

}

.abeja-detalle-Recolecion,
.abeja-detalle-Convercion,
.abeja-detalle-Velocida,
.abeja-detalle-Eperiencia,
.item-detalle-uso {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);

}

.abeja-detalle-Recolecion {
  background-color: #9dff845b;
}

.abeja-detalle-Convercion {
  background-color: #fdf47570;

}

.abeja-detalle-Velocida {
  background-color: #59c0fc86;

}

.item-detalle-uso {
  background-color: #ff000071;
  color: #ffffff;
  font-size: 25px;
  /*Bordes*/
  border: 2px solid #000000;
}

.abeja-detalle-Eperiencia {
  background-color: #27217c86;
  height: 14px;
}

.abeja-detalle-BarraExp {

  height: 100%;
  width: 50%;
  /* Ajusta esto dinámicamente */
  background-color: #4539eb;
  border-radius: 25px;
}

.abeja-detalle-TexEXP {
  position: relative;
  bottom: 15px;
}


/*HABILIDAES HUB*/
.HubHabilidades {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.HubHabilidades .Cuadro {
  position: relative;
  background-color: #0000007c;
  width: 35px;
  height: 35px;
}

.HubHabilidades .icon {
  position: absolute;
  font-size: 25px;
  pointer-events: none;
}

.HubHabilidades .acumulaciones {
  pointer-events: none;
  position: absolute;
  font-size: 13px;
  bottom: 1px;
  right: 1px;
  font-weight: bold;

  color: white;
  /*bordes al texto*/
  text-shadow: 0px 0px 5px black;
}

.HubHabilidades .TiempoFaltante {
  pointer-events: none;
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
}

.descricon {
  position: absolute;
  background-color: #0000009d;
  width: 120px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.descricon div {
  font-size: 10px;
  white-space: nowrap;
}

.descricon .titulo {
  white-space: nowrap;
  padding: 3px;
}

.Secion .Icon {
  font-size: 80px;
  display: block;
}

.Secion label {
  margin-bottom: 10px;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  color: #ffffff;
  font-weight: bold;
}

.Secion input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  /* Ajusta el ancho según lo necesites */
}

.Secion button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Secion button:hover {
  background-color: #0056b3;
}

.inputlExperiencia {
  padding: 14px;

  position: absolute;
  top: 30%;
  left: 35%;
  border-radius: 2%;
  text-align: center;
}

#interfaz-campos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.322);
  padding: 20px;
  z-index: 1000;
  text-align: center;
  width: 300px;
  /* Ancho fijo */
  max-height: 400px;
  /* Altura máxima */
  overflow-y: auto;
  /* Habilitar desplazamiento vertical */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra para destacar */
}

#campos-lista button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #00000050;
  border: 2px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  color: #ffffff;
  font-weight: bold;
}



.mision-item {
  border: 1px solid #ffffff50;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}



.barra-progreso {
  width: 100%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  /*bordes en parte de abajo*/
  border-bottom: 2px solid black;
  position: relative;
}


.Mision-Items {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.473);
  background-color: #000000ad;
}

.ZonaMision {
  position: fixed;
  right: 0%;
  top: 15%;

  width: 250px;
  height: 350px;
  white-space: nowrap;
  color: #ffffff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

.Mision-displeter {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 25%;
  right: 0%;

}

.Misiontitular {
  position: relative;
  width: 100%;
  height: 20%;
  background-color: #000000ad;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.473);
  z-index: 30;
}

.mision-titulo {
  font-size: 28px;
  margin: 5px;
  bottom: 0;
  position: absolute;
}

.misionComprobante {
  font-size: 25px;
  margin: 5px;
  right: 0%;
  bottom: 0;

  position: absolute;
  
}

.mision-objetivos {
  position: absolute;
  width: 85%;
  height: 80%;
  right: 0%;
  padding-left: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000ad;
}

.mision-objetivo, .Mision-Completada{
  position: relative;
  width: 100%;
  height: 25%;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.473);
  background-color: #000000ad;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 5px;
}

.mision-objetivo .Sub {
  position: absolute;
  width: 100%;
  text-shadow: 0 0 3px #000;
}

.barra-progreso-relleno {
  height: 100%;
  width: 50%;
  background-color: #6aff8d;
  transition: width 0.3s ease;
  position: absolute;/* Debajo del texto */
}
.Mision-Completada{
  background-color: #6aff8d;

}
.Mision-Completada div {
  text-shadow: 0 0 3px #000;
  font-size: 20px;
  top: 10px;
  position: relative;
  text-align: center;
}


.ZonaNotificaciones{
  position: fixed;
  bottom: 10px;
  right: 10px;
  max-height: 100%;
  width: 300px;
  text-align: center;
  display: flex;
  
  flex-direction: column; /* Ordena los elementos de abajo hacia arriba */
  pointer-events: none;
}
.Notificacion {
  width: 100%;
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  border-radius: 5px;
  
  opacity: 1;
  animation: entrarDesdeDerecha 0.5s ease-out; /* Aplica la animación */
  transition: opacity 1s ease-out;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
}

/* Animación para que las notificaciones entren desde la derecha */
@keyframes entrarDesdeDerecha {
  from {
      transform: translateX(100%); /* Comienza fuera del contenedor */
      opacity: 0; /* Invisible al inicio */
  }
  to {
      transform: translateX(0); /* Posición final en su lugar */
      opacity: 1; /* Totalmente visible */
  }
}